$primary: #019031;
$secondary: #707070;

@font-face {
    font-family: 'Mona Sans';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/MonaSans-Regular.woff2") format("woff2");
}
@font-face {
    font-family: 'Mona Sans';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/MonaSans-Italic.woff2") format("woff2");
}
@font-face {
    font-family: 'Mona Sans';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("./fonts/MonaSans-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: 'Mona Sans';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("./fonts/MonaSans-Bold.woff2") format("woff2");
}


* {
    padding: 0;
    margin: 0;
    clear: both;
}

body {
    font-family: 'Mona Sans';

    &.home-page {
       .container {
         max-height:400px;
         overflow: auto;
       }

       header {
        height:350px;
       }

       #main {
        margin-top: 280px;
       }
    }
    
}

a {
    text-decoration: none;

}


.container {
    width:300px;
    height:100%;
    max-height:100px;
    background: #fff;
    color: #333;
    position: relative;
}

header {
    position: fixed;
    width: 300px;
    height: 100px;
    top: 0px;
    left: 0px;


    .banner {
        width: 100%;
        height: 100%;
        // background: linear-gradient(130deg, #3a42de 0%, #9500ff 70% );
        background: linear-gradient(130deg, #333333 0%, #000000 80% );;

        .clear-all-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 20px;
            gap: 20px;
            padding: 0px 20px;

            .btn {
                width: 50%;
                display: block;
                background: #fff;
                padding: 8px 14px;
                text-align: center;
                border-radius: 4px;
                font-size: 14px;
                color: $primary;
                // border: 2px solid $primary;
                font-weight: 500;
                transition: all 300ms;


                &:hover {
                    box-shadow: 0px 0px 40px 4px #019031;
                }

            }

            .border-gradient {
                // border: 10px solid rgba(65, 209, 113, 0.361);
                border-radius: 50%;
                transition: all 300ms;

                &:hover {
                    box-shadow:0px 0px 10px 6px #019031;
                }

                a {
                    width: 100px;
                    height: 100px;
                    // background: #00ab39;
                    border-radius: 50%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    // padding: 20px;
                    gap: 10px;
                    color: #fff;
                    cursor: pointer;
    
                    img {
                        box-sizing: border-box;
                        pointer-events: none;
                        cursor: pointer;
                    }
                }
            }

            


            
        }
    }

}


#main {
    background: #fff;
    position: relative;
    display: block;
    margin-top: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    padding-top: 30px;
    width: 100%;
    box-sizing: border-box;

    &::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 3px;
        border-radius: 4px;
        background-color: #333;
        top: 10px;
        left: 50%;
        transform: translateX(-50%)
        ;
    }
}


.main-title {
    position:relative;
    color: #fff;
    padding: 10px 20px;

    h1 {
        text-align: center;
        font-size: 20px;
        padding: 10px;
    }

    .back-btn {
        margin-right: auto;
        position: absolute;
        left: 10px;
        top: 15px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;

        svg {
            width: 24px;
            height:24px;

            * {
                stroke: #fff;
            }
        }

        &:hover {
            background-color: #f0f0f0;

            * {
                stroke: #000;
            }
        }
    }
}


.service-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;

    .card {
        width: 50%;
        box-sizing: border-box;
        padding: 10px;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 20px 0px;
            gap: 10px;
            transition: all 300ms;

            svg {
                width: 64px;
                height: 64px;
            }
    
            .card-title {
                font-weight: 18px;
                font-weight: bold;
                text-align: center;
                transition: all 300ms;
            }
        }
        

       

        &.cookies-card {
            a {
                background: #ff0029;
                // background: #E83350;
                border:4px solid #E83350;

            }

            svg {
                * {
                    fill: #a90e00;
                }
            }

            .card-title {
                color: #fff;

            }


        }
        &.storage-card {
            a {
                background: #f1c40f;
                border:4px solid #f1c40f;

            }

            svg {
                * {
                    fill: #f39c12;
                }
            }

            .card-title {
                color: #fff;
            }

        }
        &.history-card {
            a {
                background: #3498db;
                border:4px solid #3498db;

            }

            svg {
                * {
                    fill: #2980b9;
                }
            }

            .card-title {
                color: #fff;
            }
        }

        &.password-card {
            a {
                background: #8a56f2;

            }

            svg {
                * {
                    stroke: #4c30c9;
                }
            }

            .card-title {
                color: #fff;
            }
        }

        &.clean-all-card {
            background: #27ae60;
            border:4px solid #27ae60;

            svg {
                * {
                    fill: #037734;
                }
            }

            .card-title {
                color: #fff;
            }
        }

        &:hover {
            a {
                background:none;
            }

            .card-title {
                color: #000;
            }
        }
    }
}

.service-cards2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;

    .card {
        width: 50%;
        box-sizing: border-box;
        padding: 10px;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 15px 0px;
            gap: 10px;
            transition: all 300ms;
            background: #fff;

            svg {
                width: 48px;
                height: 48px;
            }
    
            .card-title {
                font-weight: 18px;
                text-align: center;
                transition: all 300ms;
                color: #000;
            }
        }
        

       

        &.cookies-card {
            // a {
            //     background: #ff0029;
            //     // background: #E83350;
            //     border:4px solid #E83350;

            // }

            svg {
                * {
                    fill: #e21d0b;
                }
            }

            .card-title {
                color: #000;

            }


        }
        &.storage-card {
            // a {
            //     background: #f1c40f;
            //     border:4px solid #f1c40f;

            // }

            svg {
                * {
                    fill: #f39c12;
                }
            }

            .card-title {
                color: #000;
            }

        }
        &.history-card {
            // a {
            //     background: #3498db;
            //     border:4px solid #3498db;

            // }

            svg {
                * {
                    fill: #0787da;
                }
            }

            .card-title {
                color: #000;
            }
        }

        &.password-card {
            // a {
            //     background: #8a56f2;

            // }

            svg {
                * {
                    stroke: #4c30c9;
                }
            }

            .card-title {
                color: #000;
            }
        }

        &:hover {
            a {
                background:#f0f0f0;
            }

            .card-title {
                color: #000;
            }
        }
    }
}


.rate-us {
    border-top: 1px solid #ddd;
    padding: 10px;
    color: #DFAF2B;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}



// Form CSS
label {
    margin-bottom: 4px;
    display: block;
    font-size: 12px;
    cursor: pointer;
}

.form-container {
    // padding: 10px 15px;
}

.form-group {
    width: 100%;
    margin-bottom: 12px;
}

.error {
    font-size: 12px;
    color: #ff0000;
    display: block;
    margin-bottom: 4px;
}

.labelTitle {
    margin-bottom: 6px;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #777;
}



.radio-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 4px;

    &:last-child {
        margin-bottom: 0px;
    }

    label {
        display: inline-flex;
        align-items: center;
        gap: 6px;;
        font-size: 14px;
    }
}

#cookies-list, #history-list {
    max-height: 150px;
    overflow: auto;
}

.checkbox {
    position: relative;
    padding-bottom:10px;
    max-height: 300px;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 100%;
        width: 100%;

        & + label {
            padding-left: 25px;
            padding-top: 2px;
            min-height: 16px;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &::before {
                content:'';
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: #eee;
                border-radius: 4px;
                pointer-events: none;
            }
            &::after {
                content: "";
                left: 7px;
                top: 3px;
                width: 4px;
                height: 9px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                position: absolute;
                display: none;
                pointer-events: none;

            }
        }

        &:checked + label::before {
            background-color: $primary;
        }

        &:checked + label::after {
            display: block;
        }

        
          
    }

  

   
      
}

input[type='radio'] {
    appearance: none;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border: 0.15em solid $primary;
    border-radius: 50%;
    display: inline-block;

    &::before {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        transition: 120ms transform ease-in-out;
        transform:  translate(15%, 15%);
        box-shadow: inset 1em 1em $primary;
        position: absolute;
        scale: 0;

    }

    &:checked {
        
        &::before {
            scale: 1;
        }

    }
}


.button {
    border: 3px solid $primary;
    background: $primary;
    padding: 8px 24px;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    transition: 300ms;

    &.btn-grey {
        background: $secondary;
        border:3px solid $secondary;

        &:hover {
            background: none;
            color: $secondary;
        }
    }

    &:hover {
        background: none;
        color: $primary;
    }
}
input[type='submit'] {
    margin-top: 12px;
}

// Helper CSS
.text-center {
    text-align: center !important;
}

.select2 {
    width:100% !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 100px;
}





// confirmation component
.confirmation-page {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;


    h2 {
        margin-bottom: 10px;
        font-weight: 20px;
    }

    p {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 1.5;
    }


}




#toast-message {
    position: fixed;
    bottom: 10px;
    z-index: 1;
    left: 0px;
    display: none;
    text-align: center;
    width: 100%;

    .message-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #00b53c;
        padding: 6px 12px;
        gap: 20px;
        color: #fff;
        font-size: 12px;
        width: 200px;
        margin: auto;
    }

        
}


// Icons
.icon-close {
    width:12px;
    height:12px;
    position: relative;
    display: inline-block;
    transform: rotate(45deg);

    &::before {
        content: '';
        width: 1px;
        height: 100%;
        background: #fff;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        display: inline-block;
        pointer-events: none;
    }

    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        display: inline-block;
        pointer-events: none;

    }
}

// Select 2
.select2 {
    .select2-selection__choice {
        font-size: 12px;
        display: flex;
        align-items: center;
    
        .select2-selection__choice__remove {
            font-size: 20px;
            height: 22px;
            margin-right: 5px;
        }
    }
}


.no-data {
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    color: #777;
    margin-top: 10px;
}

#history-list {
    .date {
        padding-bottom: 5px;
        border-bottom: 1px solid #777;
        margin-bottom: 10px;
    }
}